duckduckgo-search
duckduckgo-images-api
fastai
fastbook
graphviz
jupyterlab
jupyter_contrib_nbextensions
keras
matplotlib
mypy
numpy
nose2
pandas
Pillow
pip
RISE
seaborn
tensorflow
tensorflow-metal
torch
torchvision
